@tailwind base;
@tailwind components;
@tailwind utilities;

 
html{
  overflow-x: hidden !important
}

/* .range-slider {
  @apply appearance-none w-full h-2 bg-gray-200 rounded-lg cursor-pointer;
}

.range-slider::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4 bg-blue-500 rounded-full;
}

.range-slider::-moz-range-thumb {
  @apply appearance-none w-4 h-4 bg-blue-500 rounded-full;
}

.range-slider::-ms-thumb {
  @apply appearance-none w-4 h-4 bg-blue-500 rounded-full;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

/* Targeting the scrollbar track */
.scrollbar-change::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* Background color of the track */
  border-radius: 10px;       /* Rounding the track corners */
}

/* Targeting the scrollbar itself */
.scrollbar-change::-webkit-scrollbar {
  width: 8px;               /* Width of the vertical scrollbar */
  height: 8px;              /* Height of the horizontal scrollbar */
}

/* Targeting the scrollbar thumb (the draggable part) */
.scrollbar-change::-webkit-scrollbar-thumb {
  background-color: #888;    /* Color of the thumb */
  border-radius: 10px;       /* Rounding the thumb corners */
  border: 2px solid #f4f4f4; /* Adding a border around the thumb */
}

/* Targeting the scrollbar corner (where the horizontal and vertical scrollbars meet) */
.scrollbar-change::-webkit-scrollbar-corner {
  background-color: #f4f4f4; /* Color of the corner */
}

/* Hover effect for the scrollbar thumb */
.scrollbar-change::-webkit-scrollbar-thumb:hover {
  background-color: #DA5921;    /* Darker color on hover */
}


.range-slider::-webkit-slider-thumb {
  background: #DA5921;
}

.range-slider::-moz-range-thumb {
  background: #DA5921;

}

.range-slider::-ms-thumb {
  background: #DA5921;

} 

